<br/>

<center>
 <div class="card border-secondary mb-6" style="max-width: 50rem;">
  <div class="card-header">Bienvenue sur la page de <%= @user.first_name %></div>
    <div class="card-block">
      <p class="card-text">Prénom : <%= @user.first_name %></p>
      <p class="card-text">Nom de Famille : <%= @user.last_name %></p>
      <p class="card-text">Description : <%= @user.description %></p>
    </div>
  </div>
</center>
